.editorconfig          export-ignore
.gitattributes         export-ignore
/.github/              export-ignore
.gitignore             export-ignore
/docs/                 export-ignore
/phpstan.neon.dist     export-ignore
/phpstan.v7.1.neon     export-ignore
/phpstan.v8.2.neon     export-ignore
/phpunit.xml.dist      export-ignore
/tests/                export-ignore
/Makefile              export-ignore
