includes:
	- phpstan.neon.dist
parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property.*WeChatPay\\\\BuilderChainable\\:\\:\\$v3\\.$#"
			count: 1
			path: tests/BuilderTest.php
